.sticky_wrapper {
    position: sticky;
    top: -3vw;

    background: rgb(255, 255, 255);
}

.search_block {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
    height: 11vw;
    margin: auto;
}

h2 {
    display: inline-block;
    margin-top: 5.2vw;
    margin-left: 0.5em;
   
    transition: opacity 0.2s ease-in;
}

h2.hidden { opacity: 0; }

.loupe {
    position: absolute;
    top: 6vw;
    right: 1vw;

    display: flex;
    width: 2.3vw;
    align-items: center;
    justify-content: center;

    transition: opacity 0.2s ease-in;
    
    cursor: pointer;
}

.loupe.hidden { opacity: 0; }

.search_form {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -100vw;
    
    display: flex;
    width: 90%;
    height: 11vw;
    margin: auto;

    background: rgb(255, 255, 255);

    transition: 0.3s ease-out;
}

.search_form.visible { left: 5%; }

form {
    width: 100%;
    height: 100%;
}

.input-container {
    position: relative;
    top: 5vw;
    
    width: 100%;
    margin: 0 auto;
}

.search_input {
    width: 100%;
    height: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;

    font-size: clamp(12px, 1.25vw, 18px);

    border: 2px solid rgb(134, 134, 134);
    border-radius: clamp(2px, 5px, 8px);
    outline: none;

    background-image: url("../../files/gray_search.svg"); /* NOTE: Иконка поиска */
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 1vw center;
}

.close_icon { /* NOTE: Иконка закрытия поиска */
    position: absolute;
    right: 0.5vw;
    top: 50%;
    transform: translateY(-50%);
  
    width: 3.7vw;
    height: 3.7vw;

    background-image: url("../../files/gray_close.svg");
    background-repeat: no-repeat;
    background-size: contain;

    transition: 0.1s ease-out;
    
    cursor: pointer;
    opacity: 0;
}

.close_icon.visible {
    opacity: 1;
    transition-delay: 0.2s;
}

.search_input::placeholder { color: rgb(134, 134, 134); }

.search_input:focus {
    border: 2px solid rgb(134, 134, 134);
    outline: none;
}

.base {
    display: flex;
    width: 90%;
    margin: auto;
}

table {
    display: table;
    table-layout: fixed; /* NOTE: Фиксированная ширина столбцов */

    font-size: clamp(8px, 0.97vw, 14px);
    color: rgb(29, 29, 31);
    line-height: 1.2;
    
    word-wrap: break-word; /* FIXME: Нужно уточнить целесобразность */
    border-collapse: collapse; /* FIXME: Нужно уточнить целесобразность */
}

thead {
    position: sticky;
    top: 8vw;

    height: 5vw;

    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1;
}

thead th {
    background: rgb(18, 85, 164);
}

tbody td:nth-child(1) { width: 5vw; text-align: center; }
tbody td:nth-child(2) { width: 6vw; }
tbody td:nth-child(3) { width: 17vw; text-align: left; padding-left: 1vw; }
tbody td:nth-child(4) { width: 10vw; }
tbody td:nth-child(5) { width: 13vw; text-align: left; }
tbody td:nth-child(6) { width: 10vw; text-align: center; }
tbody td:nth-child(7) { width: 6vw; text-align: right; }
tbody td:nth-child(8) { width: 6vw; text-align: right; }
tbody td:nth-child(9) { width: 6vw; text-align: right; }
tbody td:nth-child(10) { width: 11vw; text-align: right; padding-right: 1vw; padding-top: 5px; padding-bottom: 5px; }


tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
    background-color: rgb(232, 232, 232);
}

.link_move_1 {
    text-decoration: none;
    color:rgb(29, 29, 31);

    transition: color 0.1s ease-in-out;
}

.link_move_1:hover {
    color: rgb(18, 85, 164);
}

.link_move_2 {
    text-decoration: none;
    color:rgb(18, 85, 164);
    line-height: 1;
}